.App {
  width: 100vw;
}

.card-deck {
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;

  margin: 0 10vw;
  height: fit-content;
}

.card {
  min-width: 18rem;
  max-width: 18rem;
  height: fit-content;
  margin: 2rem;
}

svg {
  cursor: pointer;
}

.card-buttons {
  text-align: right;
}

.fa-edit {
  margin-right: 0.5rem;
}

.btn-primary {
  display: flex;
  margin-left: auto;
}