.App {
  width: 100vw;
}

.card-deck {
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;

  margin: 0 10vw;
  height: fit-content;
}

.card {
  min-width: 18rem;
  max-width: fit-content;
  height: fit-content;
  margin: 2rem;
}